.category {
  margin-top: 15px;
  &__img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin: 0 auto;
    display: flex;
    transition: all 0.8;

  
  }
  &__title {
    text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 26px;
   margin-top: 8px;
   color: #000;
  }
  
  &__product {
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: all 0.8;
  
    &:hover {
      .category__img{
        transform: scale(1.1);
      }
 
    }
  }
}
