.adBanner__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.adBanner {
  margin-top: 30px;
  &__imgBox {
    cursor: pointer;
    transition: all 0.8s;
    &:hover {
      img {
        transform: rotate(2deg) scale(1.1);
      }
    }
    img {
      border-radius: 8px;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    }
  }
  .swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
