.home {
  margin-top: 10px;
}

// css for deliveryInfo....

.deliveryInfo {
  //   margin-top: 35px;
  background-color: #fff;
  padding: 100px 0;
  &__content {
    border: 2px solid #bd3200;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__leftInfo {
    display: flex;
    align-items: center;
    gap: 5px;
    &-img {
      height: 40px;
      width: 40px;
      object-fit: contain;
    }
    &-title {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 34px;
      color: #000;
    }
  }
  &__middleInfo {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 28px;
    color: #000000de;
    border-left: 1px solid #e4e4e4;
    padding: 0 40px;
    border-right: 1px solid #e4e4e4;
  }
  &__lastInfo {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    color: #000;
  }
}

.productSLider {
  background-color: #fff;
  margin-top: 35px;
  padding: 60px 0;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    .MuiTabs-indicator {
      background-color: #ff4400;
    }
    .MuiBox-root{
        border-bottom: 0;
    }
    .Mui-selected{
        color:#ff4400!important;
    }
  }
}
