* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body{
  background-color: #e4e4e4;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1650px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  border: none;
  background-color: #ff4400d9;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 8px 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover{
  background: #000;
}
input {
  padding: 10px 16px;
  border: none;
  outline: none;
  border-radius: 8px;
}








