.sliderImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
  padding: 0 10px;
}
.container{
    max-width: 1650px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.swipperSlider{
    .swiper-button-next,.swiper-button-prev{
        background: #fff;
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    .swiper{
        overflow: visible;
    }


}